In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('../media/exports/orders_export_2024-10-08_04-45-37.xlsx')

In [5]:
data

,blade_1_orders__id,blade_2_orders__id,order_id,plan_quantity,out,blade_type,paper_roll,order_leftover,id,file_id,...,middle_edge_cut,right_edge_cut,component_type,quantity,production_quantity,edge_type,order_status,excess_percentage,created_at,updated_at
0,945,0,12181158341-A-73c5d83f-364a-4f3e-9763-730b702c...,540,3,Blade 1,82,0,12181158341-A-73c5d83f-364a-4f3e-9763-730b702c...,1,...,224,92,A,0,1780,N,Y,10,2024-10-08 03:59:38.329,2024-10-08 04:00:23.073
1,0,945,12181158323-A-16b22986-ae6e-4e14-b5d0-42058ff3...,1103,2,Blade 2,82,1337,12181158323-A-16b22986-ae6e-4e14-b5d0-42058ff3...,1,...,224,87,A,0,2560,N,Y,5,2024-10-08 03:59:38.450,2024-10-08 04:06:44.553
2,946,0,12181159100-E-fab327fb-781e-4b1d-a58c-c0a4805e...,385,2,Blade 1,66,0,12181159100-E-fab327fb-781e-4b1d-a58c-c0a4805e...,1,...,231,86,E,0,840,N,Y,10,2024-10-08 03:59:38.071,2024-10-08 04:00:46.435
3,0,946,12181158067-A-16610e88-22d2-4fff-b034-898a1302...,543,2,Blade 2,66,1457,12181158067-A-16610e88-22d2-4fff-b034-898a1302...,1,...,175,120,A,0,2200,N,Y,10,2024-10-08 03:59:38.330,2024-10-08 04:07:22.153
4,947,0,12181159101-E-bbd3952e-ef1a-4898-8d08-9c63b36b...,440,2,Blade 1,82,0,12181159101-E-bbd3952e-ef1a-4898-8d08-9c63b36b...,1,...,231,86,E,0,960,N,Y,10,2024-10-08 03:59:38.072,2024-10-08 04:01:13.148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,1095,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,215,4,Blade 1,66,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,1,...,246,112,A,0,940,X,Y,10,2024-10-08 03:59:38.334,2024-10-08 04:40:23.778
289,1096,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,215,4,Blade 1,66,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,1,...,246,112,A,0,940,X,Y,10,2024-10-08 03:59:38.334,2024-10-08 04:40:23.778
290,1097,0,12181158335-E-3d57cdf0-dbfb-4a0e-976f-1418bc4c...,167,3,Blade 1,97,1,12181158335-E-3d57cdf0-dbfb-4a0e-976f-1418bc4c...,1,...,248,106,E,0,550,N,Y,10,2024-10-08 03:59:38.336,2024-10-08 04:39:59.182
291,0,1097,12181158337-A-7b899456-c7f4-40c1-b07d-6444542a...,298,2,Blade 2,97,422,12181158337-A-7b899456-c7f4-40c1-b07d-6444542a...,1,...,239,135,A,422,790,N,Y,10,2024-10-08 03:59:38.455,2024-10-08 04:39:59.203
292,1098,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,215,4,Blade 1,66,0,12181158117-A-cbd187d5-46fa-4ac5-aa6a-008c1609...,1,...,246,112,A,0,940,X,Y,10,2024-10-08 03:59:38.334,2024-10-08 04:40:23.778

In [12]:
data.dtypes

blade_1_orders__id              int64
blade_2_orders__id              int64
order_id                       object
plan_quantity                   int64
out                             int64
blade_type                     object
paper_roll                      int64
order_leftover                  int64
id                             object
file_id                         int64
order_number                    int64
due_date               datetime64[ns]
front_sheet                    object
c_wave                         object
middle_sheet                   object
b_wave                         object
back_sheet                     object
level                           int64
width                         float64
length                        float64
left_edge_cut                   int64
middle_edge_cut                 int64
right_edge_cut                  int64
component_type                 object
quantity                        int64
production_quantity             int64
edge_type                      object
order_status                   object
excess_percentage               int64
created_at             datetime64[ns]
updated_at             datetime64[ns]
dtype: object

In [49]:
cols = ['blade_type','order_number','production_quantity','order_leftover','out','quantity']

dupe_ids = data[data['order_id'].duplicated(keep=False)]
dupe_ids[cols].head(20)

,blade_type,order_number,production_quantity,order_leftover,out,quantity
1,Blade 2,12181158323,2560,1337,2,0
3,Blade 2,12181158067,2200,1457,2,0
5,Blade 2,12181158051,1070,28,3,0
7,Blade 2,12181158333,1710,1000,2,0
9,Blade 2,12181158342,1820,905,2,0
10,Blade 1,12181158342,1820,1,3,0
11,Blade 2,12181158324,1290,682,2,0
13,Blade 2,12181158331,6550,5330,2,0
15,Blade 2,12181159338,1300,337,2,0
18,Blade 1,12181158051,1070,-1,3,0
19,Blade 2,12181158344,890,784,2,0
21,Blade 2,12181158323,2560,142,2,0
23,Blade 2,12181158067,2200,773,2,0
25,Blade 2,12181158034,2170,1152,2,0
26,Blade 1,12181158323,2560,0,2,0
27,Blade 2,12181158324,1290,473,3,0
28,Blade 1,12181158333,1710,0,2,0
29,Blade 2,12181158034,2170,279,2,0
31,Blade 1,12181158034,2170,1,2,0
32,Blade 2,12181158322,1560,913,3,0

In [51]:
dupe_id = dupe_ids[dupe_ids['order_number']==12181158067]
dupe_id[cols]

,blade_type,order_number,production_quantity,order_leftover,out,quantity
3,Blade 2,12181158067,2200,1457,2,0
23,Blade 2,12181158067,2200,773,2,0
35,Blade 1,12181158067,2200,1,3,0

In [52]:
dupe_id = dupe_ids[dupe_ids['order_number']==12181158323]
dupe_id[cols]

,blade_type,order_number,production_quantity,order_leftover,out,quantity
1,Blade 2,12181158323,2560,1337,2,0
21,Blade 2,12181158323,2560,142,2,0
26,Blade 1,12181158323,2560,0,2,0

In [53]:
dupe_id = dupe_ids[dupe_ids['order_number']==12181158051]
dupe_id[cols]

,blade_type,order_number,production_quantity,order_leftover,out,quantity
5,Blade 2,12181158051,1070,28,3,0
18,Blade 1,12181158051,1070,-1,3,0

In [54]:
dupe_id = dupe_ids[dupe_ids['order_number']==12181158333]
dupe_id[cols]

,blade_type,order_number,production_quantity,order_leftover,out,quantity
7,Blade 2,12181158333,1710,1000,2,0
28,Blade 1,12181158333,1710,0,2,0

In [55]:
dupe_id = dupe_ids[dupe_ids['quantity']>0]
dupe_id[cols]

,blade_type,order_number,production_quantity,order_leftover,out,quantity
56,Blade 2,12181158321,1890,467,3,217
80,Blade 2,12181158321,1890,217,2,217
82,Blade 2,12181159341,1230,585,2,265
84,Blade 2,12181159328,1610,921,3,123
86,Blade 2,12181159666,1570,379,2,303
88,Blade 2,12181159328,1610,123,3,123
98,Blade 2,12181158037,2040,1412,1,434
106,Blade 2,12181159341,1230,358,2,265
127,Blade 2,12181158050,1380,856,1,377
131,Blade 2,12181159605,880,725,1,199
139,Blade 2,12181159361,1360,1118,1,322
141,Blade 2,12181159605,880,199,3,199
145,Blade 2,12181159361,1360,1060,2,322
149,Blade 2,12181159361,1360,809,2,322
155,Blade 2,12181159288,16320,15412,3,14827
157,Blade 2,12181158037,2040,434,3,434
165,Blade 2,12181159341,1230,265,1,265
176,Blade 2,12181159361,1360,322,2,322
192,Blade 2,12181159666,1570,303,1,303
196,Blade 2,12181159288,16320,14827,3,14827
200,Blade 2,12181159604,1210,789,2,103
202,Blade 2,12181158249,20800,17186,1,7310
204,Blade 2,12181159380,11480,10150,1,3964
206,Blade 2,12181160095,7350,2953,2,511
208,Blade 2,12181158249,20800,8286,2,7310
210,Blade 2,12181160095,7350,1226,3,511
223,Blade 2,12181158249,20800,7310,2,7310
233,Blade 2,12181159380,11480,3964,2,3964
243,Blade 2,12181158259,1320,989,1,740
247,Blade 2,12181158259,1320,740,1,740
251,Blade 2,12181160095,7350,1148,1,511
254,Blade 2,12181159003,1760,815,1,30
256,Blade 2,12181158092,2640,1422,3,924
260,Blade 2,12181159604,1210,103,3,103
262,Blade 2,12181158050,1380,377,2,377
264,Blade 2,12181160095,7350,511,3,511
272,Blade 2,12181158092,2640,924,2,924
274,Blade 2,12181159003,1760,815,1,30

In [ ]:
12181158323
12181158067